# Dependencies
node_modules/
*/node_modules

# Environment variables
.env

# Build outputs
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db